version: "3.2"

services:
  mysqldb:
    container_name: mysqldb
    image: mysql
#    networks:
#        - docker_xxx
#    cap_add:
#      - SYS_NICE  # CAP_SYS_NICE
#    networks:
#      - backend
 #   ports:          
   #   - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password           
      - MYSQL_DATABASE=controle
      
      #- MYSQL_USER=user
      #- MYSQL_PASSWORD=passwd
#  networks:
#    docker_xxx:
#      driver: bridge    
  app:
    build: .
    command: npm start
    ports:
      - "8080:8080"           
    depends_on:
        - mysqldb
#    networks:
#      - backend
#    networks:
#        - docker_xxx 
   
    volumes:
      - .:/usr/app
#networks:  
#  backend: 
#    driver: bridge      
   # driver: host      