<br><br>
<div class="jumbotron">
  <h1 class="display-4">Controle de Acesso</h1>
  <h2 class="lead">Acesso restrito a usuários cadastrados .</h2>
  <hr class="my-4">
  <p>Para o acesso a esse site é necessário esta logado</p>
  <a class="btn btn-success btn-lg" href="/site/login" role="button">Entrar</a>
  <a class="btn btn-primary btn-lg" href="/site/registro" role="button">Cadastrar</a>
</div>
