<h2>Login:</h2>
<div class="card">
    <div class="car-body">
        <form action="/site/login" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" class="form-control" required>         

            <label for="nome">Senha::</label>
            <input type="password" name="senha" class="form-control" required>                     
            <button type="submit" class="btn btn-success btn-lg mt-4">Entrar</button>
            <a class="btn btn-danger btn-lg mt-4" href="/" role="button">Cancelar</a>
        </form>
        
    </div>
</div>
